.yt-container {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  margin: 1rem 0;
}

.yt-container__yt {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
