@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

.cv-md {
  p, li {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;

    strong {
      font-weight: 600;
    }
  }
}

.print-only {
  display: none;
}

@media print {
  body {
    background-color: white;
  }

  .cv-md > p:nth-child(1), /* diary link */
  body > .container > a, /* back button */
  #powered-by {
    display: none;
  }

  .bg {
    position: absolute;
    height: 100%;
  }

  body {
    position: relative;
  }

  .print-only {
    display: block;
  }
}
