@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

.cv-md {
  p, li {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
  }

  strong {
    font-weight: 600;
  }
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  text-decoration: none;
  background: #094b73;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.08);
}

.social-links {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}

.print-only {
  display: none;
}

@media print {
  body {
    background-color: white;
  }

  body > .container > a, /* back button */
  #powered-by,
  .print-hidden {
    display: none;
  }

  .bg {
    position: absolute;
    height: 100%;
  }

  body {
    position: relative;
  }

  .print-only {
    display: block;
  }
}
