// colors
$accentColor = #2353A0
$textColor = #12233D
$borderColor = #eaecef
$codeBgColor = #282c34

// layout
// $navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 800px

// responsive breakpoints
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px

dl {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 0.5rem;
  padding: 1rem;
  border: 3px double $borderColor;
}

dt {
  white-space: nowrap;
  font-weight: bold;
}

dl ul {
  margin: 0;
}

dd {
  margin: 0;
}

.sidebar-link {
  display: block !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar {
  transition: max-width 0.5s, box-shadow 0.5s;
  max-width: $sidebarWidth;
  min-width: $sidebarWidth;
  width: auto !important;
}


@media (min-width: $MQNarrow) {
  .sidebar {
    white-space: nowrap;
  }

  .sidebar:hover {
    max-width: 50vw;
    box-shadow: 1px 0px 10px 5px #eaecef;
  }
}

.home .hero img {
  border-radius: 50%;
}
