// colors
$accentColor = #2353A0
$textColor = #12233D
$borderColor = #eaecef
$codeBgColor = #282c34

// layout
// $navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 800px

// responsive breakpoints
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px
