// colors
$accentColor = #2353A0
$textColor = #12233D
$borderColor = #eaecef
$codeBgColor = #282c34

// layout
// $navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 800px

// responsive breakpoints
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px

dl {
  display: grid;
  align-items: stretch;
  grid-column-gap: 2rem;
  grid-row-gap: 0.5rem;
  padding: 1rem;
  border: 3px double $borderColor;
  overflow-x: auto;
  line-height: 1.7;
}

@media (min-width: $MQMobile) {
  dl {
    grid-template-columns: min-content 1fr;
  }
}

dt {
  white-space: nowrap;
  font-weight: 600;
}

dd {
  margin: 0;
}

dd p:first-of-type {
  margin-top: 0;
}

dd p:last-of-type {
  margin-bottom: 0;
}

dd ul {
  margin: 0;
}

@media (min-width: $MQNarrow) {
  .sidebar {
    transition: max-width 0.5s, box-shadow 0.5s;
    max-width: $sidebarWidth;
    min-width: $sidebarWidth;
    width: auto !important;
  }


  .sidebar-link {
    display: block !important;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sidebar {
    white-space: nowrap;
  }

  .sidebar:hover {
    max-width: 50vw;
    box-shadow: 1px 0px 10px 5px #eaecef;
  }
}

.home .hero img {
  border-radius: 50%;
}
